{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}
	<div class="mt-4">
		{{ parent() }}
	</div>
{% endblock %}

{% block page_content %}
	<div class=" text-justify my-4 col-7 mx-auto">
		<h3>Orden de prioridad al crear</h3>
		<P>
			Cuando creemos en cualquier apartado primero deberemos seguir una
			cierta organización, porque existen apartados que están relacionados con otros y a la
			hora de crear en algún apartado nos pueden solicitar que seleccionemos un valor
			existente en otro apartado.
		</p>
		<P>
			Ejemplo: En la sección de escritura no es recomendable ingresar un libro antes que el
			escritor, porque a la hora de crear el libro se nos solicitará seleccionar un autor ya
			existente.
		</p>
		<P>
			De momento solo hay que tener en cuenta la sección de escritura , la cual no es muy
			estricta, ya que simplemente antes de ingresar un libro ingresamos su/sus autor/autores,
			su editorial y su/sus categoría/categorías.
		</p>

	</div>
	<div class=" text-justify my-4 col-7 mx-auto">
		<h3>Información a tener en cuenta</h3>
		<P>
			En la página web cada sección del panel de administrador tiene su influencia y por eso
					vamos a ver por parte como lo hacen.
		</p>
		<ul>
			<li>
				En la página de inicio se muestran el libro del autor 1 que sea destacado y más
							reciente publicado y también las seis últimas noticias con la fecha de publicación
							más reciente.</li>
			<li>
				En la página de libros simplemente se tiene que tener en cuenta que los libros
							del autor 1 se destacan y el resto simplemente son libros recomendados.</li>
			<li>
				En la página de noticias se tiene que tener en cuenta que la noticia con mayor
							nivel de importancia será destacada y que el resto de noticias están ordenadas
							por fecha de publicación.
			</li>
		</ul>
	</div>
{% endblock %}
