
body{
    background-color: #E4E3E9;
    height: 100vh;
    width: 100%;
    color: #38373C;
}
.cabecera-pagina {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.cabecera-imagen {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.cabecera-imagen>img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.cabecera-titulo {
    position: relative;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #EEEFF3;
}


.boton-borde{
    color: #38373C;
    border: 2px solid #38373C;
    /* background-color: whitesmoke; */
    padding: .5em;
    transition:.2s ease;
}
.boton-borde:hover{
    color: #E4E3E9;
    background-color: #38373C;
    text-decoration: none;
    border: 2px solid #38373C;
    padding: .5em;
}

.input-borde {
  width: 100%;
  min-height: 3em;
  border: none;
  border: 3px solid transparent;
  border-bottom: 2px solid #38373C;
  outline-style: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: .3s ease;
}

.input-borde:focus {
  border: 3px solid #38373C;
}
.input-borde:focus::placeholder {
  color: #38373C;
}

.link-p{
  color: #38373cc7;
  font-size: 1.5rem;
}
.link-p:hover{
  color: #38373C;
}

.link-p.blanco{
  color: #EEEFF3c7;
}
.link-p.blanco:hover{
  color: #EEEFF3;
}

/* 
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  } */