.formulario-contacto {
  background-color: rgb(245, 245, 255);
  border-radius: 4PX;
  box-shadow: 7px 10px 30px -19px rgba(0,0,0,0.75);
}

form>div {
  gap: 1em;
  padding: .5em;
}
.contenedor-contacto{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-contacto{
  font-size: 200%;
  padding-left: .3em;
  padding-bottom: .3em;
}
.boton-borde{
  background-color: transparent;
}