/* Color Theme Swatches in Hex */

.hex {
    color: #E4E3E9;
}

.hex {
    color: #F0F1F5;
}

.hex {
    color: #D0CFD3;
}

.hex {
    color: #38373C;
}

.hex {
    color: #EEEFF3;
}

/* Color Theme Swatches in RGBA */

.rgba {
    color: rgba(228, 227, 233, 1);
}

.rgba {
    color: rgba(240, 241, 245, 1);
}

.rgba {
    color: rgba(208, 207, 211, 1);
}

.rgba {
    color: rgba(56, 55, 60, 1);
}

.rgba {
    color: rgba(238, 239, 243, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.icono {
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s ease-in-out;
    z-index: 1002;
    cursor: pointer;
    border-radius: 2px;
}

._layer {
    background: rgb(63, 63, 63);
    margin-bottom: 4px;
    width: 28px;
    height: 2px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

.icono-claro>._layer {
    background: rgba(228, 227, 233, 0.7);
}

.icono:hover .-top {
    transform: translateY(-200%);
}

.icono:hover .-bottom {
    transform: translateY(200%);
}

.icono-claro.is-active>._layer {
    background: #333333;
}

.icono.is-active .-top {
    transform: translateY(300%) rotate(45deg);
}

.icono.is-active .-mid {
    opacity: 0;
}

.icono.is-active .-bottom {
    transform: translateY(-300%) rotate(135deg);
}

.menu-toggle span {
    display: block;
    background: #38373C;
    border-radius: 2px;
    transition: .25s ease-in-out;
    z-index: 1101;
}

.menu-toggle {
    height: 40px;
    width: 40px;
    margin: 10px;
    position: relative;
    position: fixed;
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;
    transition: .25s ease-in-out;
    z-index: 1100;
}

.hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
}

.hamburger span {
    width: 28px;
    height: 2px;
    position: relative;
    left: 6px;
    margin: 8px 0;
}

.hamburger span:nth-child(1) {
    transition-delay: .5s;
}

.hamburger span:nth-child(2) {
    transition-delay: .625s;
}

.hamburger span:nth-child(3) {
    transition-delay: .75s;
}

.cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
}

.cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 10%;
    left: 19px;
    transition-delay: 0s;
}

.cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 10%;
    top: 19px;
    transition-delay: .25s;
}

.menu-toggle.open {
    background-color: transparent;
}

.menu-toggle.open>.hamburger>span {
    width: 0%;
}

.menu-toggle.open>.hamburger>span:nth-child(1) {
    transition-delay: 0s;
}

.menu-toggle.open>.hamburger>span:nth-child(2) {
    transition-delay: .125s;
}

.menu-toggle.open>.hamburger>span:nth-child(3) {
    transition-delay: .25s;
}

.menu-toggle.open>.cross>span:nth-child(1) {
    height: 80%;
    transition-delay: .625s;
}

.menu-toggle.open>.cross>span:nth-child(2) {
    width: 80%;
    transition-delay: .375s;
}

.menu {
    background-color: #f0f1f5b6;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    font-weight: bolder;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.35s ease-in-out;
    width: 100vw;
    z-index: 1001;
}

.menu.is-active {
    transform: translateY(0px);
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #38373C;
    transition: 0.35s ease-in-out;
}

.menu ul li img {
    transition: 0.35s ease-in-out;
}

.menu ul li:hover a {
    font-size: 2em;
}

.menu ul li:hover img {
    transform: scale(1.1);
}

footer {
    background-color: #38373C;
}

.titulo-footer {
    font-family: 'League Script', cursive;
}

@media screen and (min-width:721px) {
    .menu-toggle {
        display: none;
    }
    .menu {
        transform: translateY(0px);
        font-weight: normal;
        bottom: 0;
        height: fit-content;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1001;
    }
    .menu ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    .menu ul li {
        list-style: none;
        text-align: center;
        padding: .75em;
        display: inline-block;
        font-size: 1rem;
    }
    .menu ul li a {
        text-decoration: none;
        color: rgba(56, 55, 60, 0.5);
        transition: 0.35s ease-in-out;
        font-weight: bolder;
    }
    .menu ul li .menu-activo {
        color: #38373C;
    }
    .menu ul li:hover a {
        font-size: 1rem;
        color: #38373C;
    }
}