
hr {
    border-top: 2px solid #3a3a3a;
    height: 2px;
}

.contenedor-libros {
    display: flex;
    flex-flow: column;
    gap: 2em;
}

.apartado-libro {
    overflow: hidden;
    position:relative;
    height: 80vh;
    width: 100%;
    border-radius: 4px;
}

.listado-libro {
    height: 100%;
    color: #3a3a3a;
}

.listado-libro-reverso {
    background-color: whitesmoke;
}
.listado-libro>div {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 7.5%;
}

.listado-libro-reverso>div {
    flex-flow: row-reverse;
}

.libro-portada {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.libro-portada>img {
    overflow: hidden;
}

.libro-texto {
    position:relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
        justify-content: space-between;
        align-items: center;
    border: 3px solid #3a3a3a;
    padding: 5%;
}


.listado-libro-reverso>div>.libro-texto{
}

.libro-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: none;
    z-index: 10;
}

@media screen and (max-width:1024px) {
    
    .listado-libro-reverso>div, .listado-libro>div, .container-xl {
        height: fit-content; 
        gap: 2em;
    }
    .apartado-libro {
        height: fit-content;
        overflow: hidden;
    }
    .contenedor-libros {
        gap: 1em;
    }
    .libro-texto{
        height:auto;
        align-self: stretch;
    }
    .listado-libro>div {
        padding: 10%;
    }

}




@media screen and (max-width:721px) {
    .listado-libro-reverso>div, .listado-libro>div {
        flex-flow: column;
        gap:1em;
    }
    .libro-portada {
        height: 16em;
    }
    .apartado-libro {
        height: fit-content;
    }
    .contenedor-libros {
        gap: 1em;
    }
    .libro-texto{
        width: 100%;
        height: 100%;
    }
    .libro-portada{
        padding-bottom: 1em;
    }
}

