.listado-libro {
    height: 20em;
    display: flex;
    
}

.libro-portada {
    height: 100%;
}

.libro-backgr {
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(30%);
    z-index: -1;
}

.libro-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: none;
    z-index: 10;
}

@media screen and (max-width:721px) {
    .listado-libro {
        height: fit-content;
    }
    .libro-portada {
        height: 20em;
        padding: 2em;
    }
}