.cabecera-imagen {
  position: absolute;
  left: -10%;
  top: -10%;
  object-position: center center;
  filter: blur(1em) brightness(0.3);
  width: 120%;
  height: 120%;
}

.libro-img{
  height: fit-content;
}
