{% extends 'base.html.twig' %}
{% trans_default_domain 'layout' %}

{% set nombre_pagina = 'layout.sobremi'|trans %}

{% block title %}
	{{ 'layout.sobremi'|trans }}
{% endblock %}
{% block body %}
	<div
		class="container p-4 p-lg-5 col-xl-6">
		<p>Cristina Palacios Hernáez, nacida en Vitoria – Gasteiz, realizó estudios de Ciencias Económicas
		en las Universidades de Alcalá de Henares (Madrid) y la UNED. Reside en Guadalajara y trabaja
		en su propio despacho profesional.</p>
		
		<div class="col-md-6 col-lg-5 mb-3 float-md-right">
			<img src="{{ asset('images/cristina_palaciosh.jpg') }}" class="col-12">
		</div>

		<p>Amante de la literatura, la fotografía, la música, la pintura y del cine, campos que abren
		puertas al conocimiento, las sensaciones, a la historia y a culturas diferentes.
		Concibe sus novelas de forma cinematográfica, destacan en ellas su dinamismo, la calidad de
		sus diálogos y una constante invitación a la reflexión.</p>

		<p>En 2017 publicó su primera novela, «Cicatrices de África », varias veces TOP número uno de
		descargas en AMAZON ESPAÑA. Primera novela de la serie con el mismo nombre. El libro narra
		la trepidante historia de dos hermanos, Hugo y Yolanda, médicos cooperantes que trabajan en
		un centro sanitario africano involucrándose intensamente, y haciendo lo imposible por sacarlo
		adelante.</p>
		
		<p>El 6 de junio de 2018 en el teatro “Buero Vallejo” de Guadalajara, hace partícipe a Pablo
		Milanés de que el nombre: Yolanda de la protagonista de su novela, está inspirado en su
		famosa canción también llamada así.</p>

		<p>En septiembre de 2018 acude a la caseta de “Murcia Romántica” en la Feria del Libro de
		Murcia donde tiene una gran acogida.</p>

		<p>En junio de 2019 participa en la organización del Primer Encuentro de “Escritores Locos” en el
		auditorio del CC Galileo de Madrid, donde el grupo de trece autores indie se dio a conocer a
		seguidores y lectores madrileños.</p>

		<p>En diciembre de 2019 publica con la editorial CP «Arde África », segunda parte de la saga
		«Cicatrices de África », un thriller apasionante de gran tensión, que utiliza el tema de la
		cooperación como hilo conductor.</p>

		<p>En la actualidad, emplea su tiempo alternando trabajo y en escribir un nuevo libro ambientado
		en Sudáfrica.</p>
	</div>
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/sobremi.css') }}">
{% endblock %}
