{% extends 'plain.html.twig' %}

{% block body %}
			<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Acci칩n no valida</h1>

    <p>
        Denegado el acceso a la acci칩n que se solicita. Prueba a <a href="{{ path('inicio') }}">volver a la p치gina de inicio</a> o a <a href="{{ path('user_logout') }}">cerrar sesi칩n</a>.
    </p>
    {{exception.message}}
    </div>
{% endblock %}
